<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
{{.}}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>
{{/* Ini adalah komentar */}}
<h1>Name: {{.Name}}</h1>
{{with .Address}}
<h1>Address Street: {{.Street}}</h1>
<h1>Address City: {{.City}}</h1>
{{else}}
<h1>Anda tidak mempunyai alamat?</h1>
{{end}}
</body>
</html>
