<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
{{.}}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>
{{if ge .FinalValue 80 }}
<h1>Good</h1>
{{else if ge .FinalValue 60 }}
<h1>Nice Try</h1>
{{else}}
<h1>Try Again</h1>
{{end}}
<p></p>
</body>
</html>
